.BtnSlider {
  width: 60px;
  height: 60px;
  background: white;
  position: absolute;
  border: none;
  align-items: center;
  cursor: pointer;

  .BtnSlider img {
    width: 30px;
    height: 30px;
    pointer-events: none;
  }
}

.prev {
  top: 50%;
  left: -70px;
  border-radius: 50%;
}
.next {
  top: 50%;
  right: -70px;
  border-radius: 50%;
}
