.MainSliderWrapper {
  height: 650px;
  margin-bottom: 10rem;

  .MainSlider {
    width: 880px;
    height: 575px;
    margin: 0 auto;
    padding-top: 10rem;
    position: relative;
    list-style: none;
    justify-content: center;
    align-items: center;
  }
  ul {
    width: 100%;
    height: 100%;
    display: flex;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);

    .slide-active {
      width: 880px;
      height: 575px;
      object-fit: cover;
      opacity: 1;
      cursor: pointer;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    .slide {
      position: absolute;
      width: 100%;
      height: 100%;
      opacity: 0;
      cursor: pointer;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
    .mainSliderDetail {
      transform-origin: 0 0;
      transform: rotate(90deg);
      position: absolute;
      top: 165px;
      left: -15px;
      font-weight: bolder;
      letter-spacing: 2px;
      color: #ffffff;
    }
  }

  .BtnSlider {
    position: absolute;
    top: 75%;
    cursor: pointer;
  }

  .prev {
    left: -100px;
  }

  .next {
    margin-left: 800px;
    right: -70px;
  }

  .slider-dots {
    position: relative;
    bottom: -50%;
    display: flex;
    justify-content: center;
    cursor: pointer;

    .dot {
      width: 15px;
      height: 15px;
      border-radius: 50%;
      margin: 0 5px;
      background: rgb(250, 212, 162);
    }
    .dot.active {
      background: rgb(32, 32, 32);
    }
  }
}
