.MainSlider {
  width: 700px;
  height: 500px;
  margin: 4rem auto;
  position: relative;
  list-style: none;
  justify-content: center;
  align-items: center;

  ul {
    width: 100%;
    height: 100%;
    display: flex;

    .slide-active {
      width: 700px;
      height: 500px;
      object-fit: cover;
      opacity: 1;
      transition: opacity ease-in-out 0.3s;
      cursor: pointer;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
    .slide {
      position: absolute;
      width: 100%;
      height: 100%;
      opacity: 0;
      cursor: pointer;
      transition: opacity ease-in-out 0.3s;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }
}
