@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:regular,bold,italic&subset=latin,latin-ext");

//Product List Style
.productList {
  // background-color: skyblue;
  header {
    // background-color: brown;
    height: 9rem;
  }
  .sectionLayout {
    width: 1200px;
    margin: 0 auto;
    .imgSlide {
      // background-color: rgb(199, 184, 23);

      .petSlideImg {
        width: 100%;
        height: 400px;
      }
    }

    .productSideSection {
      // background-color: palevioletred;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      margin-top: 5rem;

      .sideSection {
        // background-color: orange;

        .petMainSide {
          font-size: 1.5rem;
          border-bottom: 0.2rem solid;
          width: 200px;
          padding-bottom: 0.5rem;
        }

        .petSubSide {
          li {
            font-size: 1.2rem;
            padding-top: 1rem;
            a {
              color: black;
              text-decoration: none;
            }
          }
        }
      }

      .productSection {
        // background-color: yellow;
        margin-left: 60px;
        .filter {
          select:focus {
            outline: none;
          }
          .selectFilter {
            font-size: 0.9rem;
            border: 0;
            border-radius: 0;
          }
          // background-color: cadetblue;
          display: flex;
          justify-content: right;
        }
        .productSide > ul {
          display: flex;
          flex-wrap: wrap;

          li {
            margin: 20px 0 0 15px;
            position: relative;
            .isNew {
              border-top-right-radius: 1rem;
              border-bottom-right-radius: 1rem;
              color: white;
              font-size: 0.8rem;
              background-color: cadetblue;
              position: absolute;
              width: 40px;
              height: 20px;
              margin-top: 1rem;
              padding: 0.1rem 0 0 0.3rem;
            }

            .listImg {
              background-color: brown;
              width: 298px;
              height: 402px;
            }

            .cateName {
              margin: 10px 0 5px 0;
              color: lightgray;
              font-size: 13px;
            }

            .engName-cartIcon {
              display: flex;
              flex-direction: row;
              justify-content: space-between;

              .engName {
                width: 75%;
                font-size: 1rem;
              }

              .cartIcon {
                width: 35px;
                height: 35px;
                margin: -10px 0 0 -3rem;
              }
            }

            .prices {
              font-size: 1rem;
              margin: 7px 0 7px 0;
            }
          }
        }

        .showMore {
          font-size: 1rem;
          text-align: center;
        }
      }
    }
  }
}
