@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:regular,bold,italic&subset=latin,latin-ext");

//Product List Style
.productList {
  position: relative;
  background-color: white;

  .carousel-wrapper {
    width: 100%;
    object-fit: cover;
    position: relative;
    display: flex;
    margin: 0 auto;

    .arrowSection {
      position: absolute;
      display: flex;
      justify-content: space-between;
      width: 100%;
      margin: 300px auto;
      z-index: 1;

      .leftArrow {
        width: 30px;
        height: 100px;
        margin-left: 20px;
        cursor: pointer;
      }

      .rightArrow {
        width: 30px;
        height: 100px;
        margin-right: 20px;
        cursor: pointer;
      }
    }

    .carousel {
      display: flex;
      overflow: hidden;
    }

    .listSlider {
      width: 100%;
      height: 700px;
      transition: transform 0.5s;

      .carouselImg {
        object-fit: cover;
        width: 100vw;
        object-position: center bottom;
        width: 1905px;
      }
    }

    .rightSec {
      position: absolute;

      .rightArrow {
        // margin: 125px 0 125px 1800px;
        width: 50px;
        height: 100px;
        cursor: pointer;
      }
    }
  }

  .sectionLayout {
    width: 1200px;
    margin: 0 auto;

    .productSideSection {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      margin-top: 5rem;

      .sideSection {
        .petMainSide {
          width: 200px;
          padding-bottom: 0.5rem;
          border-bottom: 0.2rem solid;
          font-size: 1.5rem;
        }

        .petSubSide {
          li {
            padding-top: 1rem;
            font-size: 1.2rem;

            a {
              color: black;
              text-decoration: none;
            }
          }
        }
      }

      .productSection {
        width: 940px;
        margin-left: 60px;

        .filter {
          display: flex;
          justify-content: right;

          select:focus {
            outline: none;
          }

          .selectFilter {
            border: 0;
            border-radius: 0;
            font-size: 0.9rem;
          }
        }

        .productSide > ul {
          display: flex;
          flex-wrap: wrap;

          li {
            position: relative;
            width: 298px;
            margin: 20px 0 0 15px;

            .isNew {
              position: absolute;
              width: 40px;
              height: 20px;
              margin-top: 1rem;
              padding: 0.1rem 0 0 0.3rem;
              border-top-right-radius: 1rem;
              border-bottom-right-radius: 1rem;
              color: white;
              background-color: cadetblue;
              font-size: 0.8rem;
            }

            .imgSection {
              width: 298px;
              height: 402px;
              background-color: #f2f2f2;

              .listImg {
                object-fit: contain;
                width: 298px;
                height: 302px;
                margin: 50px auto;
                // background-color: lightgrey;
              }
            }

            .productDescription {
              width: 100%;

              .cateName {
                margin: 10px 0 5px 0;
                color: lightgray;
                font-size: 13px;
              }

              .engName-cartIcon {
                display: flex;
                flex-direction: row;
                justify-content: space-between;

                .engName {
                  width: 75%;
                  font-size: 1rem;
                }

                .cartIcon {
                  width: 35px;
                  height: 35px;
                  margin: -10px 0 0 -3rem;
                }
              }

              .priceInfo {
                margin: 0.5rem auto;

                .discountPrice {
                  display: flex;
                  justify-content: space-between;
                  font-size: 1rem;

                  .afterDiscountPrice {
                    width: 35%;
                  }

                  .price {
                    width: 35%;
                    margin-left: 10px;
                    color: grey;
                    text-decoration: line-through;
                  }

                  .saleRate {
                    width: 30%;
                    margin-right: 20px;
                    color: red;
                  }
                }

                .price {
                  font-size: 1rem;
                }
              }
            }
          }
        }

        .showMore {
          border-top: solid black 1px;
          margin: 3rem auto;
          padding-top: 15px;
          font-size: 1rem;
          text-align: center;
          cursor: pointer;
        }
      }
    }
  }
}
