@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:regular,bold,italic&subset=latin,latin-ext");

//Product List Style
.productList {
  // background-color: skyblue;
  .sectionLayout {
    width: 1200px;
    margin: 0 auto;
    .carousel-wrapper {
      width: 1200px;

      display: flex;
      .leftSec {
        .leftArrow {
          margin: 125px 0 125px 0;
          width: 100px;
          height: 150px;
          cursor: pointer;
        }
      }
      .carousel {
        display: flex;
        overflow: hidden;
      }
      .listSlider {
        width: 1000px;
        display: flex;
        .carouselImg {
          width: 1000px;
          height: 400px;
        }
      }

      .rightSec {
        .rightArrow {
          margin: 125px 0 125px 0;
          width: 100px;
          height: 150px;
          cursor: pointer;
        }
      }
    }

    .productSideSection {
      // background-color: palevioletred;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      margin-top: 5rem;

      .sideSection {
        // background-color: orange;

        .petMainSide {
          font-size: 1.5rem;
          border-bottom: 0.2rem solid;
          width: 200px;
          padding-bottom: 0.5rem;
        }

        .petSubSide {
          li {
            font-size: 1.2rem;
            padding-top: 1rem;
            a {
              color: black;
              text-decoration: none;
            }
          }
        }
      }

      .productSection {
        // background-color: yellow;
        margin-left: 60px;
        width: 940px;
        .filter {
          select:focus {
            outline: none;
          }
          .selectFilter {
            font-size: 0.9rem;
            border: 0;
            border-radius: 0;
          }
          // background-color: cadetblue;
          display: flex;
          justify-content: right;
        }
        .productSide > ul {
          display: flex;
          flex-wrap: wrap;

          li {
            margin: 20px 0 0 15px;
            position: relative;
            .isNew {
              border-top-right-radius: 1rem;
              border-bottom-right-radius: 1rem;
              color: white;
              font-size: 0.8rem;
              background-color: cadetblue;
              position: absolute;
              width: 40px;
              height: 20px;
              margin-top: 1rem;
              padding: 0.1rem 0 0 0.3rem;
            }

            .listImg {
              background-color: brown;
              width: 298px;
              height: 402px;
            }

            .cateName {
              margin: 10px 0 5px 0;
              color: lightgray;
              font-size: 13px;
            }

            .engName-cartIcon {
              display: flex;
              flex-direction: row;
              justify-content: space-between;

              .engName {
                width: 75%;
                font-size: 1rem;
              }

              .cartIcon {
                width: 35px;
                height: 35px;
                margin: -10px 0 0 -3rem;
              }
            }

            .priceInfo {
              margin: 0.5rem auto;
              .discountPrice {
                font-size: 1rem;
                display: flex;
                justify-content: space-between;
                .afterDiscountPrice {
                  width: 35%;
                }
                .price {
                  width: 35%;
                  text-decoration: line-through;
                  color: grey;
                  margin-left: 10px;
                }
                .saleRate {
                  width: 30%;
                  color: red;
                  margin-right: 20px;
                }
              }
              .price {
                font-size: 1rem;
              }
            }
          }
        }

        .showMore {
          cursor: pointer;
          border-top: solid black 1px;
          margin: 3rem auto;
          padding-top: 15px;
          font-size: 1rem;
          text-align: center;
        }
      }
    }
  }
}
