.Cart {
  .mainArea {
    margin-top: 50px;
    letter-spacing: 2px;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    .title {
      font-size: 4em;
      font-weight: bold;
      margin-bottom: 150px;
    }
    .product {
      width: 1500px;
      .productField {
        display: flex;
        text-align: center;
        width: 100%;
        font-size: 1.2em;
        color: #b6b3b3;
        padding-bottom: 40px;
        border-bottom: 1px solid #ebe8e8;
        div:first-child {
          width: 60%;
        }
        div {
          width: 13.3%;
        }
      }
      .cartBox {
        width: 100%;
        display: flex;
        flex-direction: column;
        .productDetail {
          margin-top: 30px;
          width: 100%;
          display: flex;
          text-align: center;
          align-items: center;
          font-size: 1.2em;
          padding-bottom: 15px;
          border-bottom: 1px solid #ebe8e8;
          .dot {
            width: 5%;
          }
          .productImg {
            width: 10%;
            img {
              width: 100%;
              height: 100%;
              object-fit: cover;
            }
          }
          .productName {
            margin-left: 80px;
            text-align: start;
            width: 45%;
            .name {
              margin-top: 10px;
              font-size: 1.1em;
            }
            .cateName {
              color: #b6b3b3;
            }
          }
          .productQuantity {
            width: 13.3%;
            .minus {
              width: 25px;
              height: 25px;
              background-color: white;
              border: 1px solid #b6b3b3;
              box-shadow: none;
              border-radius: 50%;
              margin-right: 15px;
              cursor: pointer;
            }
            .plus {
              width: 25px;
              height: 25px;
              background-color: white;
              border: 1px solid #b6b3b3;
              box-shadow: none;
              border-radius: 50%;
              margin-left: 15px;
              cursor: pointer;
            }
          }
          .productPrice {
            width: 13.3%;
            font-size: 1.3em;
            .priceBox {
              display: flex;
              flex-direction: column;
              span {
                margin-top: 10px;
              }
              .afterPrice {
                font-size: 1em;
                font-weight: bold;
              }
              .beforePrice {
                font-size: 0.8em;
                color: #b6b3b3;
                text-decoration: line-through;
              }
              .saleRate {
                color: rgb(233, 52, 52);
                font-size: 0.8em;
                font-weight: bold;
              }
            }
          }
          .prodictSelect {
            width: 13.3%;
            button {
              border: 1px solid #b6b3b3;
              background-color: white;
              border-radius: 30px;
              font-size: 0.8em;
              padding: 10px;
              width: 100px;
              cursor: pointer;
              &:hover {
                transition: 0.35s;
                background-color: #ecebeb;
              }
            }
          }
        }
      }
      .notice {
        margin-top: 25px;
        text-align: end;
        font-size: 1.2em;
        color: #b6b3b3;
      }
      .totalArea {
        font-size: 2.8em;
        font-weight: bold;
        width: 100%;
        display: flex;
        flex-direction: column;
        margin-top: 100px;
        padding: 100px;
        border-top: 1.5px solid black;
        border-bottom: 2px solid #ebe8e8;
        .totalValue {
          display: flex;
          justify-content: space-evenly;
          text-align: center;
          .allTotalPrice {
            font-weight: normal;
            font-size: 0.4em;
            margin-top: 20px;
          }
          .deliveryPrice {
            font-weight: normal;
            font-size: 0.4em;
            margin-top: 20px;
          }
          .salePrice {
            font-weight: normal;
            font-size: 0.4em;
            margin-top: 20px;
          }
          .expectPrice {
            font-weight: normal;
            font-size: 0.4em;
            margin-top: 20px;
          }
        }
      }
      .btnBox {
        margin-bottom: 200px;
        margin-top: 100px;
        display: flex;
        justify-content: center;
        button {
          margin-left: 15px;
          margin-right: 15px;
          border: 1px solid #b6b3b3;
          background-color: white;
          font-size: 1.4em;
          border-radius: 30px;
          padding: 15px;
          width: 250px;
          cursor: pointer;
          &:hover {
            transition: 0.35s;
            background-color: #ecebeb;
          }
        }
        .orderBtn {
          border: none;
          color: white;
          background-color: #4a4d70;
          &:hover {
            transition: 0.35s;
            background-color: #353857;
          }
        }
      }
    }
    .topBottom {
      cursor: pointer;
      .top {
        position: fixed;
        top: 85%;
        right: 2%;
        width: 60px;
        height: 60px;
        border-radius: 50%;
        background-color: #6f6f85;
        text-align: center;
        padding-top: 13px;
        img {
          width: 60%;
          height: 60%;
          object-fit: fill;
        }
      }
      .bottom {
        position: fixed;
        top: 90%;
        right: 2%;
        width: 60px;
        height: 60px;
        border-radius: 50%;
        background-color: #6f6f85;
        text-align: center;
        transform: scaleY(-1);
        padding-top: 13px;
        img {
          width: 60%;
          height: 60%;
          object-fit: fill;
        }
      }
    }
  }
}
