@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap");

$color-productBackground: #f2f2f2;
$color-dogYellow: #fccf1d;
$color-catRed: #c81a20;
$color-turtleBlue: #016ad5;
$color-hamsterPurple: #cda5e0;
$color-birdGreen: #d8e22d;

$font-global: "Noto Sans KR", sans-serif;

body {
  background-color: #ffffff;
  font-family: $font-global;
  font-size: 10px;
}

.visuallyHidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}
