@mixin flex-box(
  $direction: column,
  $justify-content: center,
  $align-items: center
) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify-content;
  align-items: $align-items;
}

* {
  box-sizing: border-box;
}

.SignIn {
  padding-top: 125px;
  font-size: 10px;
  background-color: #f2f2f2;

  .SignInContainer {
    @include flex-box(column, center, center);
    width: 100%;
    margin: 0 auto;
    padding: 0 0 160px;

    .pageTitle {
      margin: 50px 0;
      font-size: 2.5rem;
      font-weight: bolder;
    }

    .signInBox {
      @include flex-box(column, space-evenly, center);
      width: max-content;
      max-width: 600px;
      padding: 50px 40px;
      background-color: #fff;
      border: 1px solid #d8d9de;

      .section + section {
        margin-top: 40px;
      }
      .form {
        @include flex-box(column, space-between, space-between);
        width: 100%;

        .inputControl {
          @include flex-box(row, flex-start, baseline);

          .label {
            width: 130px;
            font-weight: bold;
          }
          input {
            width: 100%;
            margin: 10px 0;
            padding-bottom: 15px;
            border: none;
            border-bottom: 1px solid #d8d9de;
            outline: none;
          }
        }
      }
      .errorMsg {
        visibility: visible;
        padding: 15px;
        color: red;
        text-align: center;
      }
      .formButtons {
        @include flex-box(column, space-between, center);
        width: 100%;

        .signInButton {
          width: 100%;
          margin-top: 10px;
          padding: 15px 40px;
          background-color: #3d435f;
          border: none;
          border-radius: 50px;
          color: #fff;
          cursor: pointer;
        }
      }
      .userFind ul {
        @include flex-box(row, -content, baseline);

        li {
          padding: 0 10px;

          + li {
            border-left: 1px solid black;
          }
        }
      }

      .socialSignIn {
        text-align: center;

        h3 {
          position: relative;
          display: block;
          width: 100%;
          height: 20px;
          background-color: white;
          font-size: 1rem;
          text-align: center;
          z-index: 2999999;

          .test {
            position: absolute;
            display: block;
            top: 50%;
            left: 50%;
            width: 100px;
            height: 20px;
            transform: translate(-50%, -50%);
            background-color: #fff;
            z-index: -1;
          }

          &::before {
            position: absolute;
            display: block;
            top: 50%;
            width: 100%;
            height: 1px;
            content: "";
            background-color: #d8d9de;
            overflow: hidden;
            z-index: -1;
          }
        }

        .socialLinkButtons {
          margin-top: 25px;

          a + a {
            margin-left: 10px;
          }
        }
      }
    }
  }
}
.footerSection {
  @media (min-height: 1000px) {
    position: relative;
    bottom: 0;
  }
}
