.ProductDetail {
  letter-spacing: 2px;
  .detailArea {
    height: auto;
    .cartArea {
      width: 400px;
      height: 350px;
      color: white;
      border: 1px solid black;
      border-radius: 5px;
      background-color: #fdfcfc;
      top: 600px;
      position: fixed;
      z-index: 1000;
      .cartHead {
        font-size: 1.6em;
        opacity: 0.8;
        display: flex;
        justify-content: space-between;
        span {
          cursor: pointer;
          margin-left: 15px;
          padding: 18px;
        }
      }
      .cartMid {
        margin-top: 40px;
        text-align: center;
        div {
          font-size: 1.3em;
          color: black;
          width: 100%;
          padding: 20px;
        }
      }
      .cartBottom {
        display: flex;
        justify-content: space-between;
        margin-top: 15px;
        height: 70px;
        padding: 10px;
        button {
          border: 1px solid #b6b3b3;
          background-color: white;
          width: 48%;
          border-radius: 50px;
          cursor: pointer;
          &:hover {
            transition: 0.35s;
            background-color: #ecebeb;
          }
        }
      }
    }
    margin-top: 100px;
    display: flex;
    justify-content: center;
    .mainArea {
      position: relative;
      width: 900px;
      height: 6000px;
      .newBox {
        position: absolute;
        top: -50px;
        left: -30px;
        z-index: 1000;
      }
      .slideBackground {
        position: relative;
        width: 900px;
        height: 900px;
        background-color: #ecebeb;
        .slideBox {
          display: flex;
          width: 700px;
          height: 700px;
          overflow: hidden;
          position: relative;
          top: 100px;
          left: 100px;
          .slideList {
            transition: 0.5s;
            width: 700px;
            height: 700px;
            img {
              width: 700px;
              height: 700px;
              object-fit: fill;
            }
          }
        }
        .dot {
          font-size: 1.4em;
          position: absolute;
          top: 93%;
          left: 46%;
          .on {
            font-weight: 900;
          }
        }
        #goLeft {
          position: absolute;
          top: 50%;
          left: 20px;
          background-image: url(./images/left.png);
          background-size: contain;
          background-repeat: no-repeat;
          background-position: center;
          border: none;
          width: 30px;
          height: 30px;
          opacity: 0.4;
          cursor: pointer;
          &:hover {
            opacity: 0.8;
            transition: all 0.5s;
          }
        }
        #goRight {
          position: absolute;
          top: 50%;
          right: 20px;
          background-image: url(./images/right.png);
          background-size: contain;
          background-repeat: no-repeat;
          background-position: center;
          border: none;
          width: 30px;
          height: 30px;
          opacity: 0.4;
          cursor: pointer;
          &:hover {
            opacity: 0.8;
            transition: all 0.5s;
          }
        }
      }
      .productDetailArea {
        .detailHeading {
          .noticeInfo {
            font-size: 1.6em;
            margin-top: 70px;
            padding-top: 30px;
            border-top: 2px solid #ecebeb;
            li:first-child {
              font-weight: bold;
            }
            li {
              padding: 10px;
            }
          }
          .noticeIcon {
            font-size: 5em;
            margin-top: 70px;
            display: flex;
            justify-content: center;
            span {
              margin-left: 30px;
            }
          }
          .noticeImg {
            margin-top: 100px;
            width: 100%;
            .ad {
              width: 100%;
              img {
                width: 100%;
                object-fit: cover;
              }
            }
            .corona {
              margin-top: 50px;
              width: 100%;
              img {
                width: 100%;
                object-fit: cover;
              }
            }
          }
        }
        .detailImg {
          margin-left: 10%;
          width: 80%;
          display: flex;
          flex-direction: column;
          align-items: center;
          .productImg {
            margin-top: 50px;
            img {
              width: 100%;
              height: 100%;
              object-fit: fill;
            }
          }
        }
        .policyNotice {
          width: 100%;
          margin-top: 100px;
          font-size: 1.4em;
          .policyBox {
            display: flex;
            justify-content: space-between;
            text-align: center;
            .on {
              font-weight: bold;
              border-bottom: 2px solid black;
            }
            span {
              cursor: pointer;
              width: 25%;
              padding-bottom: 20px;
              border-bottom: 1px solid #c7c4c4;
            }
          }
          .imgInfo {
            margin-top: 50px;
            width: 100%;
          }
        }
      }
    }
    .sidebarArea {
      margin-top: 50px;
      margin-left: 50px;
      width: 450px;
      height: 500px;
      position: sticky;
      top: 150px;
      .sideHeading {
        .subCateName {
          font-size: 1.4em;
          color: #b6b3b3;
        }
        .productName {
          margin-top: 20px;
          margin-bottom: 20px;
          font-size: 1.8em;
          font-weight: bold;
        }
        .productPrice {
          display: flex;
          justify-content: space-between;
          align-items: center;
          font-size: 1.8em;
          font-weight: bold;
          .priceBox {
            span {
              margin-right: 20px;
            }
            .afterPrice {
              font-size: 1em;
              font-weight: bold;
            }
            .beforePrice {
              font-size: 0.8em;
              color: #b6b3b3;
              text-decoration: line-through;
            }
            .saleRate {
              color: rgb(233, 52, 52);
              font-size: 0.8em;
              font-weight: bold;
            }
          }
          .shareIcon {
            width: 35px;
            img {
              width: 100%;
            }
          }
        }
      }
      .savedMoney {
        display: flex;
        justify-content: space-between;
        width: 100%;
        margin-top: 15px;
        padding-top: 15px;
        padding-bottom: 15px;
        border-top: 2px solid #ecebeb;
        border-bottom: 1px solid #ecebeb;
        font-size: 1.2em;
        ul {
          li {
            padding-top: 5px;
            padding-bottom: 5px;
          }
        }
        span {
          width: 25px;
          img {
            width: 100%;
          }
        }
        .savedName {
          color: #acaaaa;
          .beforeHover {
            display: none;
          }
        }
        .savedValue {
          .beforeHover {
            display: none;
          }
        }
        &:hover {
          .beforeHover {
            display: block;
          }
        }
      }
      .sideInfo {
        line-height: 20px;
        font-size: 1.15em;
        margin-top: 20px;
        color: rgb(233, 52, 52);
        padding-bottom: 15px;
        border-bottom: 1px solid #ecebeb;
      }
      .quantityArea {
        font-size: 1.2em;
        margin-top: 30px;
        background-color: #f6f6f6;
        .quantityName {
          padding: 20px 15px 0px 15px;
        }
        .quantityBox {
          padding: 20px 15px;
          display: flex;
          justify-content: space-between;
          span {
            font-size: 1.1em;
            font-weight: bold;
          }
          .quantityBtn {
            .minus {
              background-color: #f6f6f6;
              border: 1px solid #b6b3b3;
              box-shadow: none;
              border-radius: 50%;
              margin-right: 15px;
              cursor: pointer;
            }
            .plus {
              background-color: #f6f6f6;
              border: 1px solid #b6b3b3;
              box-shadow: none;
              border-radius: 50%;
              margin-left: 15px;
              cursor: pointer;
            }
          }
        }
      }
      .totalArea {
        padding-left: 20px;
        padding-right: 20px;
        display: flex;
        justify-content: space-between;
        margin-top: 40px;
        margin-bottom: 40px;
        align-items: center;
        font-size: 1.1em;
        .totalPrice {
          font-size: 2em;
          font-weight: bold;
        }
        .totalQuantity {
          font-size: 1.1em;
        }
      }
      .orderArea {
        .orderBtn {
          border: none;
          color: white;
          font-size: 1.6em;
          border-radius: 30px;
          margin-bottom: 15px;
          width: 100%;
          padding: 13px;
          opacity: 0.8;
          &:hover {
            opacity: 1;
            transition: 0.35s;
          }
        }
        .btnBox {
          display: flex;
          justify-content: space-between;
          .cartBtn {
            border: 1px solid #b6b3b3;
            background-color: white;
            font-size: 1.4em;
            border-radius: 30px;
            padding: 13px;
            width: 49%;
            &:hover {
              transition: 0.35s;
              background-color: #ecebeb;
            }
          }
          .wishBtn {
            border: 1px solid #b6b3b3;
            background-color: white;
            font-size: 1.4em;
            border-radius: 30px;
            padding: 13px;
            width: 49%;
            &:hover {
              transition: 0.35s;
              background-color: #ecebeb;
            }
          }
        }
      }
    }
    .topBottom {
      cursor: pointer;
      .top {
        position: fixed;
        top: 85%;
        right: 2%;
        width: 60px;
        height: 60px;
        border-radius: 50%;
        background-color: #6f6f85;
        text-align: center;
        padding-top: 13px;
        img {
          width: 60%;
          height: 60%;
          object-fit: fill;
        }
      }
      .bottom {
        position: fixed;
        top: 90%;
        right: 2%;
        width: 60px;
        height: 60px;
        border-radius: 50%;
        background-color: #6f6f85;
        text-align: center;
        transform: scaleY(-1);
        padding-top: 13px;
        img {
          width: 60%;
          height: 60%;
          object-fit: fill;
        }
      }
    }
  }
}
