.CircleButton {
  width: 73px;
  height: 73px;
  padding: 0;
  background-color: transparent;
  border: 1px solid #e2e2e2;
  border-radius: 50%;
  opacity: 0.3;
  cursor: pointer;

  &:hover {
    transform: scale(1.03);
    transition: scale 0.5s ease-in-out;
    opacity: 0.8;
    color: #ffffff;
  }
}
