.footerSection {
  position: sticky;
  bottom: 0;
  background-color: rgba(45, 49, 67);
  color: #ffffff;
  z-index: -1;

  @media (min-height: 1000px) and (max-height: 1200px) {
    position: relative;
    bottom: 0;
  }

  .bodySection {
    display: flex;
    flex-direction: column;
    width: 1200px;
    height: 485px;
    margin: 0 auto;

    .mainBanner {
      margin: 50px auto;
      text-align: center;
      letter-spacing: 12px;
      font-size: 3rem;
      font-weight: 800;
    }

    .navWrapper {
      order: -1;
      display: flex;
      justify-content: space-between;
      height: 60px;
      padding: 20px 0 0 0;
      font-size: 14px;

      .leftNav {
        span {
          padding-right: 30px;
        }
      }

      .rightNav {
        span {
          padding-right: 30px;
        }

        select {
          margin-top: -3px;
          padding-right: 30px;
          border: none;
          color: white;
          background: url("../../../public/images/Footer/arrow-down.svg")
            no-repeat right 4px center;
          background-color: none;
          font-size: 14px;
          font-family: "Noto Sans KR", sans-serif;
          appearance: none;
          vertical-align: top;
          cursor: pointer;
        }

        select:focus {
          outline: none;
        }
      }
    }

    .companyInfo {
      font-size: 14px;

      .infoKey {
        color: grey;
        text-align: left;
      }

      .infoValue {
        margin: 0 30px 0 5px;
      }

      .firstInfoSection {
        padding: 10px 0 10px 0;
      }

      .secondInfoSection {
        padding: 10px 0 10px 0;
      }

      .lastInfoSection {
        padding: 10px 0 10px 0;

        img {
          width: 13px;
          margin-left: -25px;
          cursor: pointer;
        }
      }

      .protectFromRaw {
        padding: 40px 0 40px 0;
      }
    }

    .iconLinkSection {
      display: flex;
      justify-content: space-between;
      color: gray;

      .socialIcons {
        width: 35px;
        height: 35px;
        cursor: pointer;

        & + .socialIcons {
          margin-left: 35px;
        }
        &:last-of-type {
          width: 70px;
          padding-left: 35px;
          border-left: 1px solid grey;
          font-size: 40px;
        }
      }
    }

    .contributors {
      span {
        color: grey;
        font-size: 30px;
        font-weight: 700;
        word-spacing: 2rem;
      }
    }
  }
}
