// find how to import style variables from common.scss

@mixin flex-box(
  $direction: column,
  $justify-content: center,
  $align-items: center
) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify-content;
  align-items: $align-items;
}

.policyAgreement {
  .policyCheckWrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    &.checkAllWrapper {
      padding-bottom: 15px;
      border-bottom: 1px solid #f0f0f0;
      font-size: 1rem;
    }
  }
  .policyType {
    h4 {
      padding: 10px 0;
      font-size: 1rem;
      span {
        color: red;
      }
    }
    &.notRequired .textContent {
      padding-right: 50px;
    }
    .textContent {
      height: max-content;
      max-height: 300px;
      margin: 20px 0;
      padding: 20px;
      color: #a0a0a0;
      text-align: justify;
      overflow: auto;

      article + article h5 {
        margin-top: 15px;
      }
      div {
        line-height: 1.1rem;
      }
    }
  }
}
