// find how to import style variables from common.scss

@mixin flex-box(
  $direction: column,
  $justify-content: center,
  $align-items: center
) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify-content;
  align-items: $align-items;
}

* {
  box-sizing: border-box;
}

.SignUp {
  font-size: 10px;
  // remove bgc after common style variables import
  background-color: #f2f2f2;
  .SignUpContainer {
    @include flex-box(column, center, center);
    margin: 0 auto;
    width: 100%;
    max-width: 1200px;

    .pageTitle {
      margin: 50px 0;
      font-size: 2.5rem;
      font-weight: bolder;
    }

    .form {
      @include flex-box(column);
      width: 100%;
      max-width: 600px;
      box-sizing: border-box;
      margin: 0 0 160px;
      padding: 0 40px 72px;
      background-color: #fff;
      border: 1px solid #d0d0d0;
      border-radius: 3px;

      .section {
        box-sizing: border-box;
        margin: 40px 0 0;
        padding: 20px 0;

        .title {
          margin-bottom: 20px;
          padding-bottom: 15px;
          border-bottom: 2px solid #000;
          font-size: 1rem;
          font-weight: 400;
        }
      }

      .userFormInput {
        width: 100%;

        .inputControl {
          @include flex-box(row, space-between, center);
          position: relative;
          font-size: 0.8rem;

          &.requiredField > label::before {
            position: absolute;
            left: 0;
            content: "*";
            color: red;
            font-size: 1rem;
          }

          .label {
            width: 130px;
            padding-left: 15px;
          }

          input {
            width: 100%;
            margin: 10px 0;
            padding: 15px 0;
            border: none;
            border-bottom: 1px solid #a0a0a0;
            outline: none;
            &[disabled] {
              background-color: #fff;
            }
          }

          .verificationInputWrapper {
            @include flex-box(column, -content, flex-start);
            width: 100%;

            .verificationInput.verificationInput {
              margin: 0 15px 10px 0;
            }

            #verification {
              width: max-content;
              padding: 5px 10px;
              cursor: pointer;
              border: none;
              border-radius: 50px;
              background-color: #3d435f;
              color: #fff;
            }
          }
          .genderOptions {
            @include flex-box(row, flex-start, center);
            width: 50%;
            input {
              width: 10%;
            }
            label {
              width: 30%;
            }
          }
          .phoneNumWrapper {
            @include flex-box(row, space-between, center);
            width: 100%;

            select {
              padding: 15px;
              border: none;
              outline: none;
            }

            .areaCodeInput,
            .phoneNumInput {
              width: 30%;
              border-bottom: 1px solid #a0a0a0;
            }
          }
        }
      }

      .pickCategory {
        width: 100%;

        div > p {
          margin-bottom: 10px;
          color: #c0c0c0;
          font-size: 14px;
        }
        article {
          display: grid;
          grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
          row-gap: 25px;
          justify-items: center;
          margin-top: 15px;
        }
      }

      .policyAgreement {
        .policyType {
          h4 {
            padding: 10px 0;
            font-size: 1rem;
          }
          &.notRequired .textContent {
            padding-right: 50px;
          }
          .textContent {
            height: max-content;
            max-height: 300px;
            margin: 20px 0;
            padding: 20px;
            border: 1px solid #f0f0f0;
            overflow: auto;
            color: #a0a0a0;
            text-align: justify;

            article + article h5 {
              margin-top: 15px;
            }
            div {
              line-height: 1.1rem;
            }
          }
        }
      }

      .formButtons {
        @include flex-box(row, space-between, -items);
        width: 100%;

        button {
          width: 48%;
          border: none;
          border-radius: 50px;
          background-color: #3d435f;

          .buttonText {
            cursor: pointer;
            display: block;
            width: 100%;
            height: 100%;
            padding: 15px 40px;
            color: #fff;
            text-decoration: none;
          }
        }
      }
    }
  }
}
